<h1>Jogos Cadastrados</h1>

<a href="/jogos/novo">Cadastrar novo jogo</a>

<table border="1">
  <!-- table row -->
  <tr>
    <!-- table head -->
    <th>Título</th>
    <th>Descrição</th>
    <th>Preço</th>
  </tr>
  {{#each jogos}}
    <tr>
      <td>{{this.titulo}}</td>
      <td>{{this.descricao}}</td>
      <td>{{this.preco}}</td>
      <td>
        {{!-- o type hidden serve para esconder o id até mesmo do usuário, mas sem apagá-lo --}} 
            {{!-- para fazer esse comentário, clique shift, alt e a letra A --}} 
        <a href="/jogos/{{this.id}}/update">Atualizar</a>
        <form action="/jogos/{{this.id}}/delete" method="post">
          <input type="submit" value="Excluir" />
        </form>
        <a href="/jogos/{{this.id}}/conquistas">Ver conquistas</a>
      </td>
    </tr>
  {{/each}}
</table>